# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.eggs/
.installed.cfg
.mypy_cache/
.pytest_cache/
.Python
*.egg
*.egg-info/
*.pyi
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
sdist/
share/python-wheels/
var/
wheels/

# Directories
.ruff_cache
.vscode/
env/
rules/
test/

# Files
.DS_Store
